@model CinemaProject.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Information Center:</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.Label("Name")
        @Html.DropDownListFor(m => Model.Customer, new SelectList(Model.Customers, "CustomerUserId", "Name"), "", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

